.team-info-modal {
    display: flex;
    flex-direction: column;
    width: 34rem;
    height: 35rem;
    align-items: center;
    background-color: #FFF4CB;
    box-shadow: 5px 5px 3px #f5bbb1, -5px -5px 3px #f5bbb1, 5px -5px 3px #f5bbb1, -5px 5px 3px #f5bbb1;
    border-radius: 1rem;
    padding: 1rem;
    overflow: scroll;
}

.team-members-div {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.team-member-header-wrapper {
    display: flex;
    justify-content: space-between;
}

.add-members-modal {
    display: flex;
    flex-direction: column;
    width: 34rem;
    height: 10rem;
    align-items: center;
    background-color: #FFF4CB;
    box-shadow: 5px 5px 3px #f5bbb1, -5px -5px 3px #f5bbb1, 5px -5px 3px #f5bbb1, -5px 5px 3px #f5bbb1;
    border-radius: 1rem;
    padding: 1rem;
}

.add-members-modal > form {
    margin-top: 4rem;
    display: flex;
}

#back-button {
    position: absolute;
    left: 1rem;
}

#add-member-input {
    margin-right: 3rem;
}

.members-list-ul {
    margin-top: 0;
}

.members-list-li {
    height: 2rem;
}

.confirm-team-delete-div {
    display: flex;
    flex-direction: column;
    width: 34rem;
    height: 16rem;
    align-items: center;
    background-color: #FFF4CB;
    box-shadow: 5px 5px 3px #f5bbb1, -5px -5px 3px #f5bbb1, 5px -5px 3px #f5bbb1, -5px 5px 3px #f5bbb1;
    border-radius: 1rem;
    padding: 1rem;
}