.login-form-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FFF4CB;
    width: 40rem;
    margin: auto;
    height: 17rem;
    box-shadow: 5px 5px 3px #f5bbb1, -5px -5px 3px #f5bbb1, 5px -5px 3px #f5bbb1, -5px 5px 3px #f5bbb1;
}

.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-form > label {
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-between;
    width: 100%;
}