.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 5rem;
  background-color: transparent;
  color: #FFFFFF;
  position: sticky;
  top: 0;
}

.home-icon-div {
  margin-left: 1rem;
}

.home-icon-div > a{
  color: #FFFFFF;
  text-decoration: none;
  font-size: 1rem;
}

#menu-button-div {
  margin-right: 1rem;
  display: flex;
}

#menu-button {
  background-color: transparent;
  color: #FFFFFF;
  border: none;
}

.profile-dropdown {
  background-color: #FFF4CB;
  position: absolute;
  right: 0;
  color: black;
  display: flex;
  flex-direction: column;
  box-shadow: 5px 5px 3px #f5bbb1, -5px -5px 3px #f5bbb1, 5px -5px 3px #f5bbb1, -5px 5px 3px #f5bbb1;
  right: 0.5rem;
  /* color: #FFF4CB; */
  padding: 0.5rem 1rem;
}

.hidden {
  display: none;
}

.user-nav-div {
  list-style: none;
  height: 8rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
}

.profile-dropdown > button {
  width: 9rem;
}

#notification-button {
  background-color: transparent;
  border: none;
  font-size: 1rem;
  color: white;
}

.notification-dropdown {
  background-color: #FFF4CB;
  position: absolute;
  right: 0;
  color: black;
  display: flex;
  flex-direction: column;
  box-shadow: 5px 5px 3px #f5bbb1, -5px -5px 3px #f5bbb1, 5px -5px 3px #f5bbb1, -5px 5px 3px #f5bbb1;
  right: 0.5rem;
  /* color: #FFF4CB; */
  padding: 0.5rem 1rem;
}