.home-page-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 5rem;
    height: 80vh;
}

.right-panels {
    background-color: #FFF4CB;
    height: 100%;
    width: 15%;
    box-shadow: 5px 5px 3px #f5bbb1, -5px -5px 3px #f5bbb1, 5px -5px 3px #f5bbb1, -5px 5px 3px #f5bbb1;
    border-radius: 1rem;
    padding: 1rem;
}

.right-panel-buttons {
    display: flex;
    justify-content: space-around;
}

::-webkit-scrollbar {
    display: none;
}