.home-page-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 5rem;
    height: 80vh;
}

.right-panels {
    background-color: #FFF4CB;
    height: 100%;
    width: 22rem;
}