.list-menu-div {
    background-color: #FFF4CB;
    display: flex;
    flex-direction: column;
    width: 22rem;
    height: 100%;
    overflow: scroll;
}

#current-lists-ul {
    display: flex;
    flex-direction: column;
}

.list-menu-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}