.list-menu-div {
    background-color: #FFF4CB;
    display: flex;
    flex-direction: column;
    width: 25%;
    height: 100%;
    overflow: scroll;
    overflow-x: hidden;
    box-shadow: 5px 5px 3px #f5bbb1, -5px -5px 3px #f5bbb1, 5px -5px 3px #f5bbb1, -5px 5px 3px #f5bbb1;
    border-radius: 1rem;
    padding: 1rem;
}

#current-lists-ul {
    display: flex;
    flex-direction: column;
}

.team-lists-div {
    list-style-type: disc;
}

li {
    list-style-type: disc outside;
}

.li-div {
    display: list-item;
    justify-content: space-between;
}


.list-menu-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.active {
    background-color: #ff3aad;
    color: #fff1c8;
}