.signup-form-div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: #FFF4CB;
    width: 44rem;
    margin:  1rem auto;
    height: 70%;
    box-shadow: 5px 5px 3px #f5bbb1, -5px -5px 3px #f5bbb1, 5px -5px 3px #f5bbb1, -5px 5px 3px #f5bbb1;
}

#signup-form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 18rem;
    margin-bottom: 2rem;
}

#signup-form > label {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.alt-buttons {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}