.list-display-div {
    background-color: #FFF4CB;
    display: flex;
    flex-direction: column;
    width: 50rem;
    height: 100%;
    box-shadow: 5px 5px 3px #f5bbb1, -5px -5px 3px #f5bbb1, 5px -5px 3px #f5bbb1, -5px 5px 3px #f5bbb1;
    border-radius: 1rem;
    padding: 1rem;
}

.list-display-div > form {
    display: flex;
    flex-direction: column;
}

.list-header {
    display: flex;
    justify-content: space-between;
}

.list-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.hidden {
    display: none;
}

.delete-modal-div {
    background-color: #FFF4CB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20rem;
    height: 10rem;
    box-shadow: 5px 5px 3px #f5bbb1, -5px -5px 3px #f5bbb1, 5px -5px 3px #f5bbb1, -5px 5px 3px #f5bbb1;
    border-radius: 1rem;
    padding: 1rem;
}

.left-task-wrapper > input {
    border: none;
    background-color: transparent;
}

.list-item {
    border-bottom: 1px solid #f5bbb1;
}