.list-display-div {
    background-color: #FFF4CB;
    display: flex;
    flex-direction: column;
    width: 55%;
    height: 100%;
    box-shadow: 5px 5px 3px #f5bbb1, -5px -5px 3px #f5bbb1, 5px -5px 3px #f5bbb1, -5px 5px 3px #f5bbb1;
    border-radius: 1rem;
    padding: 1rem;
}

.list-display-div > form {
    display: flex;
    flex-direction: column;
}

.list-header {
    display: flex;
    justify-content: space-between;
}

.list-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.hidden {
    display: none;
}

.delete-modal-div {
    background-color: #FFF4CB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30rem;
    height: 20rem;
    box-shadow: 5px 5px 3px #f5bbb1, -5px -5px 3px #f5bbb1, 5px -5px 3px #f5bbb1, -5px 5px 3px #f5bbb1;
    border-radius: 1rem;
    padding: 1rem;
}

#deleting-gif {
    transform: scaleX(-1);
}

.left-task-wrapper {
    display: flex;
}

.left-task-wrapper > input {
    border: none;
    background-color: transparent;
}

.list-item {
    border-bottom: 1px solid #f5bbb1;
}

.list-tasks-ul {
    padding-left: 0;
}

.right-task-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.right-task-wrapper > select {
    height: 1.5rem;
}

.right-task-wrapper > button {
    margin: 0;
}

#list-display-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

label {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#tasks-headers {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.list-detail-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#add-task-button {
    height: 2rem;
    width: 4rem;
}

#naruto-run {
    height: 5rem;
    width: 5rem;
}

textarea {
    height: 3rem;
}