.list-display-div {
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 45rem;
    height: 28rem;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.list-header {
    display: flex;
    justify-content: space-between;
}

.list-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.hidden {
    display: none;
}

.delete-modal-div {
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 20rem;
    height: 20rem;
}