.newlist-form-wrapper {
    display: flex;
    flex-direction: column;
    width: 34rem;
    height: 27rem;
    align-items: center;
    background-color: #FFF4CB;
    box-shadow: 5px 5px 3px #f5bbb1, -5px -5px 3px #f5bbb1, 5px -5px 3px #f5bbb1, -5px 5px 3px #f5bbb1;
    border-radius: 1rem;
    padding: 1rem;
}

.newlist-form {
    display: flex;
    flex-direction: column;
    width: 80%;
}

.newlist-form > label {
    margin-bottom: 1rem;
    width: 100%;
}

.newlist-form > label > textarea {
    width: 100%;
    height: 3rem;
}