.error-page {
    background-color: #FFF4CB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 100%;
    overflow: scroll;
    overflow-x: hidden;
    box-shadow: 5px 5px 3px #f5bbb1, -5px -5px 3px #f5bbb1, 5px -5px 3px #f5bbb1, -5px 5px 3px #f5bbb1;
    border-radius: 1rem;
    padding: 1rem;
    margin: auto;
}

